<%- include('includes/head') %>

<body>
  <header id="header">

    <%- include('includes/bar')  %> 

    <%- include('includes/navbar')  %> 
    
    <%- include('includes/main-banner')  %> 

  </header>

  <main id="home">

      <%- include('includes/about')  %>
      
      <%- include('includes/skills')  %>

      <section id="projetos">

        <%- include('includes/project-introduction')  %>

        <%- include('includes/project-cards')  %>
        
        <%- include('includes/project-slides-main')  %>

      </section>
      
    <%- include('includes/contact-session')  %>
      
  </main>

    <%- include('includes/footer') %> 

  <script src="/js/header.js"></script>

  <script src="/js/index.js"></script>
  
  <script src="/js/like.js"></script>

</body>
</html>
