<%- include('includes/head') %>

<body id="page-project">
  <header id="header">

    <%- include('includes/bar')  %>

    <%- include('includes/navbar')  %>
    
    <%- include('includes/selected-project-banner')  %>

  </header>
  <main id="home">    
    
    <section id="projetos">
      
      <%- include('includes/selected-project-introduction') %> 

      <%- include('includes/selected-project-slides') %> 
      
      <%- include('includes/selected-project-video') %> 
      
      <%- include('includes/selected-project-tecnologias') %> 
      
    </section>
    
  </main>
    
    <%- include('includes/footer') %>

    <script src="/portfolio/js/header.js"></script>
    <script src="/portfolio/js/slideProject.js"></script>
  </body>
  
  </html>